<!DOCTYPE html>
<html>
<head>
    <metacharset='utf-8'>
<meta http-equiv='x-UA-Compatible' content='IE=edge' >
<title>Registration</title>
<meta name='viewport' content='width=device-width,initial-scale=1' >
<link rel = 'stylesheet' type='text/css' media='screen' href='main.css'>
<script src='main.js'></script>
</head>
<body>
    <form action ="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="first name"><br> 
        <input type="text" name="email id" placeholder="email id"><br> 
        <input type="text" name="password1" placeholder="password"><br> 
        <input type="text" name="password2" placeholder="first name"><br> 
        <input type="submit">
    </form>

</body>
</html>